
.active {
    color: #08328b;
    user-select: none;
}

.completed {
    text-decoration: line-through;
    color: green;
    user-select: none;
}

.icon{
    margin-left: auto;
    color: rgb(250, 192, 192);
    margin-right: 10px;
}


.icon:hover {
    color: red;
}

.record {
    width: 100%;
}

.container {
    display: flex;
    cursor: pointer;
}

.container:hover {
    background-color: antiquewhite;
}

.mat-card {
    padding: 0px;
}

.mat-list-base {
    padding : 0px;
}