
.active {
    color: #08328b;
    user-select: none;
}

.completed {
    text-decoration: line-through;
    color: green;
    user-select: none;
}

.icon{
    margin-left: auto;
    color: red;
   
    
}