<div class= "container">


<app-list-todos [toDoList] = "toDoList" [filter] = "filter" (toggleText) = "toggleText($event)"
    (removeTodos) = "removeTodos($event)">
</app-list-todos>

<app-some-button [buttonText] = "'All tasks'" (someFunction) = "changeFilter('all')"></app-some-button>
<app-some-button [buttonText] = "'Active todos'" (someFunction) = "changeFilter('active')"></app-some-button>
<app-some-button [buttonText] = "'Completed todos'" (someFunction) = "changeFilter('completed')"></app-some-button>
<app-some-button [buttonText] = "'All completed'" (someFunction) = "allCompleted()"></app-some-button>
<app-some-button [buttonText] = "'Remove completed'" (someFunction) = "removeCompleted()"></app-some-button>
</div>

<div class = "container">
    <mat-card class = "mat-container">
        <mat-form-field>
            <input matInput name = "title" (keyup.enter) = "addToDo()" [(ngModel)] = "title" placeholder = "Title">
        </mat-form-field>
        <mat-form-field>
                <textarea matInput  name = "description" (keyup.enter) = "addToDo()" [(ngModel)] = "description" placeholder = "Description">
                </textarea>
        </mat-form-field>
        <mat-checkbox name = "completed" [(ngModel)]="completed">Completed?</mat-checkbox>
        <br>
<div>
        <app-some-button *ngIf="addOrEdit == 'add'" [buttonText]= "'Add'" (someFunction) = "addToDo()"></app-some-button>
        <app-some-button *ngIf="addOrEdit == 'edit'" [buttonText]= "'Edit'" (someFunction) = "editToDo()"></app-some-button>
        <app-some-button [buttonText]= "'Clear'" (someFunction) = "clearForm()"></app-some-button>
</div>
    </mat-card>
</div>

